<h1>Catalogo</h1>

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>description</th>
			<th>price</th>
			<th>category</th>
			<th>quantity</th>

		</tr>
	</thead>

	<tbody>
		{{#each data}}
			<tr>
				<td>{{title}}a</td>
				<td>{{description}}</td>
				<td>{{price}}</td>
				<td>{{category}}</td>
				<td>{{quantity}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
<ul>
	{{#if hasPrevPage}}
		<li><a href='/products?page={{prevPage}}'>Anterior</a></li>
	{{/if}}
	{{#if hasNextPage}}
		<li><a href='/products?page={{nextPage}}'>Siguiente</a></li>
	{{/if}}
</ul>