<h1>Hola {{testUser.name}}, Bienvenido!</h1>

<h2>Agregar Productos</h2>

<input type='text' />
<button>Enviar</button>
<p></p>

{{#if admin}}
	{{#each products}}
		<p>{{title}}: {{category}} :{{price}}</p>
	{{/each}}

{{else}}
	<h3>No podes ver la lista de productos</h3>
{{/if}}

<script src='js/index.js'></script>